@charset "utf-8";

html {
  overflow: scroll;
  color: #000;
  font-size: 16px;
  background-color: #fff;
}

body {
  color: #000;
  font-family: 'Noto Serif JP', serif;
  font-weight: 500;
  line-height: normal;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

#top {
  overflow: hidden;
}


/* inner */
.inner {
  max-width: 1200px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}
@media screen and (max-width: 768px){
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header inner {
  position: relative;
}
.bg inner {
  height: 100%;
}
.frontAbout inner {
  height: auto;
}
